//############// ALPHA COLORS //############//

//============// (346-15) Alpha Reds //============//
@atom-monokai-dark_is-focused-selection-region: hsla(0, 100%, 50%, 0.2);

//============// (16-45) Alpha Oranges //============//

//============// (46-75) Alpha Yellows //============//

//============// (76-105) Alpha Yellow-Greens //============//

//============// (106-135) Alpha Greens //============//

//============// (136-165) Alpha Green-Cyans //============//
@inter-dimensional-syntax_fart-cloud:           hsla(155, 87%, 76%, .3);

//============// (166-195) Alpha Cyans //============//
@ubik-hackerman-syntax_ubik7:                   hsla(194, 100%, 50%, 0.42);

//============// (196-225) Alpha Cyan-Blues //============//
@80s-pastel-syntax_selected:                    hsla(197, 65%, 60%, 0.6);
@80s-pastel-syntax_selected-border:             hsla(197, 65%, 60%, 0.9);
@ubik-hackerman-syntax_ubik6:                   hsla(207, 89%, 40%, 0.21);

//============// (226-255) Alpha Blues //============//
@styri-syntax_syntax-selection-flash-color:     hsla(232, 71%, 80%, .6);
@styri-syntax_syntax-bracket-matcher-color:     hsla(232, 79%, 81%, .45);

//============// (256-285) Alpha Blue-Magentas //============//

//============// (286-315) Alpha Magentas //============//

//============// (316-345) Alpha Magenta-Reds //============//
