//############// SOLID COLORS //############//

//============// (346-15) Solid Reds //============//
@inter-dimensional-syntax_red-cromulon:                 hsl(346, 64%, 50%);
@improved-chester-atom-syntax_purple:                   hsl(347, 100%, 72%);
@one-dark-vivid-syntax_hue-5-2:                         hsl(348, 45%, 66%);
@ubik-hackerman-syntax_red:                             hsl(349, 100%, 50%);
@atom-material-syntax_pink:                             hsl(350, 100%, 66%);
@inter-dimensional-syntax_pickle-rick-laser-light:      hsl(351, 81%, 60%);
@inter-dimensional-syntax_strawberry-ice-cream:         hsl(352, 69%, 72%);
@inter-dimensional-syntax_pickle-rick-laser-dark:       hsl(352, 77%, 44%);
@an-old-hope-syntax_vader:                              hsl(352, 81%, 58%);
@styri-syntax_styri-red-1:                              hsl(352, 82%, 55%);
@inter-dimensional-syntax_Gazorpazorp:                  hsl(353, 66%, 42%);
@inter-dimensional-syntax_dingle-bop:                   hsl(354, 82%, 76%);
@wombat-dark-syntax_red1:                               hsl(355, 65%, 65%);
@inter-dimensional-syntax_scammer-leader-shirt:         hsl(355, 69%, 43%);
@80s-pastel-syntax_language-misc:                       hsl(356, 100%, 77%);
@atom-material-syntax_red:                              hsl(357, 81%, 69%);
@inter-dimensional-syntax_red-balloon:                  hsl(357, 83%, 68%);
@seti-bloody-syntax_red-highlight:                      hsl(358, 63%, 30%);
@oceanic-reef-syntax_keyword:                           hsl(358, 66%, 69%);
@oceanic-reef-syntax_variable:                          hsl(0, 48%, 65%);
@oceanic-reef-syntax_syntax-color-removed:              hsl(0, 50%, 60%);
@oceanic-reef-syntax_syntax-invalid-background-color:   hsl(0, 63%, 60%);
@gloom_syntax-type-invalid:                             hsl(0, 79%, 54%);
@wombat-dark-syntax_px-error:                           hsl(0, 80%, 52%);
@space-cowboy-syntax_red:                               hsl(0, 99%, 60%);
@seti-bloody-syntax_red:                                hsl(0, 100%, 45%);
@80s-pastel-syntax_red:                                 hsl(0, 100%, 50%);
@dracula-syntax_red:                                    hsl(0, 100%, 67%);
@80s-pastel-syntax_variable-call:                       hsl(0, 100%, 84%);
@oceanic-reef-syntax_argument-syntax-twig:              hsl(0, 100%, 85%);
@material-monokai-syntax_red:                           hsl(1, 71%, 52%);
@inter-dimensional-syntax_beth-shirt:                   hsl(1, 88%, 61%);
@improved-chester-atom-syntax_red:                      hsl(1, 94%, 67%);
@inter-dimensional-syntax_hellfire:                     hsl(2, 89%, 39%);
@wombat-dark-syntax_red2:                               hsl(5, 48%, 51%);
@grey-goo-syntax_red:                                   hsl(5, 87%, 50%);
@one-dark-vivid-syntax_hue-5:                           hsl(5, 91%, 73%);
@wombat-dark-syntax_px-red:                             hsl(6, 70%, 66%);
@grey-goo-syntax_hue-5:                                 hsl(7, 69%, 43%);
@atom-material-syntax_strong-orange:                    hsl(14, 90%, 69%);
@atom-gooey-syntax_orange:                              hsl(14, 92%, 71%);
@inter-dimensional-syntax_morty-shoe-stripe:            hsl(15, 89%, 48%);

//============// (16-45) Solid Oranges //============//
@inter-dimensional-syntax_jessica-hair:                 hsl(16, 86%, 67%);
@seti-vs-syntax_reg-exp-groups:                         hsl(18, 50%, 68%);
@material-monokai-syntax_orange:                        hsl(18, 80%, 44%);
@inter-dimensional-syntax_red-rocks:                    hsl(18, 93%, 45%);
@inter-dimensional-syntax_meseeks-hair:                 hsl(18, 97%, 58%);
@inter-dimensional-syntax_orange-cromulon:              hsl(19, 85%, 56%);
@ubik-hackerman-syntax_orange:                          hsl(19, 100%, 50%);
@awesome-seti-syntax_orange:                            hsl(20, 97%, 49%);
@seti-bloody-syntax_orange-highlight:                   hsl(21, 69%, 42%);
@space-cowboy-syntax_orange:                            hsl(21, 100%, 50%);
@atom-gooey-syntax_light-orange:                        hsl(22, 94%, 80%);
@gloom_syntax-vcs-modified-bg:                          hsl(22, 100%, 29%);
@inter-dimensional-syntax_plutonian-dark:               hsl(23, 95%, 53%);
@seti-bloody-syntax_orange:                             hsl(24, 76%, 55%);
@material-monokai-syntax_orange:                        hsl(25, 66%, 62%);
@an-old-hope-syntax_luke:                               hsl(25, 86%, 55%);
@seti-vs-syntax_text:                                   hsl(28, 71%, 50%);
@wombat-dark-syntax_orange1:                            hsl(29, 54%, 61%);
@dash-syntax_orange:                                    hsl(29, 81%, 62%);
@inter-dimensional-syntax_fart-orange-orb:              hsl(30, 64%, 54%);
@inter-dimensional-syntax_orange-balloon:               hsl(30, 91%, 62%);
@wombat-dark-syntax_px-orange:                          hsl(30, 100%, 63%);
@oceanic-reef-syntax_keyword-syntax-control:            hsl(30, 100%, 70%);
@gloom_syntax-type-deprecated:                          hsl(31, 80%, 54%);
@inter-dimensional-syntax_summer-hair:                  hsl(31, 92%, 58%);
@dracula-syntax_orange:                                 hsl(31, 100%, 71%);
@japan-colors-syntax_kuchiba:                           hsl(32, 74%, 56%);
@monokai_orange:                                        hsl(32, 98%, 56%);
@inter-dimensional-syntax_barnacle:                     hsl(32, 100%, 47%);
@gloom_syntax-type-parameter:                           hsl(33, 100%, 71%);
@gloom_syntax-vcs-modified-fg:                          hsl(35, 100%, 60%);
@oceanic-reef-syntax_variable:                          hsl(37, 96%, 72%);
@inter-dimensional-syntax_fart-orange-orb-dark:         hsl(38, 84%, 36%);
@wombat-dark-syntax_orange2:                            hsl(39, 67%, 69%);
@grey-goo-syntax_orange:                                hsl(39, 100%, 50%);
@atom-material-syntax_orange:                           hsl(39, 100%, 71%);
@awesome-seti-syntax_light-orange:                      hsl(40, 81%, 70%);
@ubik-hackerman-syntax_light-orange:                    hsl(40, 100%, 50%);
@one-dark-vivid-syntax_hue-6-2:                         hsl(41, 98%, 70%);
@oceanic-reef-syntax_syntax-color-modified:             hsl(42, 75%, 65%);
@styri-syntax_styri-orange-2:                           hsl(42, 93%, 73%);
@dash-syntax_yellow:                                    hsl(42, 100%, 55%);
@improved-chester-atom-syntax_orange:                   hsl(43, 100%, 62%);
@monokai_light-orange:                                  hsl(43, 100%, 71%);
@gloom_syntax-type-numeric:                             hsl(43, 100%, 75%);
@inter-dimensional-syntax_beth-hair:                    hsl(44, 92%, 66%);
@seti-bloody-syntax_yellow-highlight:                   hsl(45, 55%, 41%);
@material-monokai-syntax_yellow:                        hsl(45, 100%, 35%);
@atom-material-syntax_light-orange:                     hsl(45, 100%, 75%);

//============// (46-75) Solid Yellows //============//
@inter-dimensional-syntax_planet-rings-yellow:          hsl(47, 75%, 53%);
@inter-dimensional-syntax_plutonian-light:              hsl(47, 88%, 67%);
@80s-pastel-syntax_yellow:                              hsl(48, 71%, 66%);
@one-dark-vivid-syntax_hue-6:                           hsl(48, 71%, 76%);
@styri-syntax_styri-orange-1:                           hsl(49, 84%, 52%);
@inter-dimensional-syntax_scammer-leader-gold:          hsl(49, 98%, 75%);
@an-old-hope-syntax_threepio:                           hsl(50, 74%, 61%);
@inter-dimensional-syntax_yellow-cromulon:              hsl(50, 74%, 61%);
@inter-dimensional-syntax_scammer-assistant-shirt:      hsl(51, 73%, 55%);
@inter-dimensional-syntax_portal-4:                     hsl(53, 92%, 75%);
@monokai_yellow:                                        hsl(54, 70%, 68%);
@ubik-hackerman-syntax_neon-yellow:                     hsl(54, 96%, 55%);
@improved-chester-atom-syntax_light-orange:             hsl(54, 99%, 71%);
@inter-dimensional-syntax_yellow-sky:                   hsl(54, 100%, 60%);
@inter-dimensional-syntax_fart-orange-orb-light:        hsl(55, 92%, 70%);
@grey-goo-syntax_light-orange:                          hsl(55, 100%, 63%);
@inter-dimensional-syntax_schlami:                      hsl(59, 84%, 68%);
@seti-bloody-syntax_yellow:                             hsl(60, 100%, 45%);
@awesome-seti-syntax_yellow:                            hsl(60, 100%, 51%);
@space-cowboy-syntax_light-orange:                      hsl(60, 100%, 55%);
@inter-dimensional-syntax_sliperystair-skin:            hsl(61, 98%, 52%);
@japan-colors-syntax_hiwa:                              hsl(62, 52%, 50%);
@inter-dimensional-syntax_morty-shirt:                  hsl(62, 100%, 73%);
@oceanic-reef-syntax_class:                             hsl(63, 94%, 81%);
@dracula-syntax_yellow:                                 hsl(65, 92%, 76%);
@material-monokai-syntax_green:                         hsl(66, 39%, 57%);
@inter-dimensional-syntax_tube-gun:                     hsl(67, 93%, 70%);
@material-monokai-syntax_green:                         hsl(68, 100%, 30%);
@inter-dimensional-syntax_portal-2:                     hsl(72, 63%, 52%);
@inter-dimensional-syntax_schlami-spit:                 hsl(73, 72%, 51%);
@inter-dimensional-syntax_plant:                        hsl(73, 81%, 44%);
@inter-dimensional-syntax_lime-green-balloon:           hsl(74, 79%, 73%);

//============// (76-105) Solid Yellow-Greens //============//
@inter-dimensional-syntax_sliperystair-slime:           hsl(76, 79%, 64%);
@inter-dimensional-syntax_green-planet-1:               hsl(76, 80%, 45%);
@wombat-dark-syntax_px-yellow:                          hsl(77, 67%, 71%);
@inter-dimensional-syntax_jerry-shirt:                  hsl(80, 49%, 28%);
@monokai_green:                                         hsl(80, 76%, 53%);
@inter-dimensional-syntax_rock-eye:                     hsl(83, 80%, 57%);
@inter-dimensional-syntax_green-planet-2:               hsl(84, 52%, 50%);
@atom-material-syntax_green:                            hsl(84, 66%, 73%);
@grey-goo-syntax_green:                                 hsl(86, 91%, 38%);
@styri-syntax_styri-green-1:                            hsl(87, 98%, 44%);
@inter-dimensional-syntax_flying-butt:                  hsl(88, 42%, 43%);
@inter-dimensional-syntax_pickle-rick-light:            hsl(88, 51%, 39%);
@inter-dimensional-syntax_typeface-outline:             hsl(88, 56%, 45%);
@awesome-seti-syntax_green:                             hsl(89, 87%, 46%);
@inter-dimensional-syntax_fart-green-orb-light:         hsl(89, 93%, 70%);
@inter-dimensional-syntax_portal-1:                     hsl(91, 50%, 51%);
@wombat-dark-syntax_px-green:                           hsl(93, 73%, 61%);
@oceanic-reef-syntax_syntax-color-added:                hsl(93, 100%, 69%);
@seti-bloody-syntax_green-highlight:                    hsl(94, 50%, 28%);
@inter-dimensional-syntax_pickle-rick-dark:             hsl(94, 53%, 24%);
@wombat-dark-syntax_green:                              hsl(95, 38%, 62%);
@inter-dimensional-syntax_green-planet-3:               hsl(96, 78%, 51%);
@inter-dimensional-syntax_portal-gun-tube:              hsl(99, 59%, 50%);
@inter-dimensional-syntax_fart-green-orb:               hsl(100, 82%, 46%);
@monokai_sea-green:                                     hsl(101, 53%, 40%);
@inter-dimensional-syntax_fart-green-orb-dark:          hsl(104, 83%, 35%);
@inter-dimensional-syntax_microverse-scientist-skin:    hsl(104, 95%, 69%);

//============// (106-135) Solid Greens //============//
@an-old-hope-syntax_yoda:                               hsl(107, 40%, 57%);
@inter-dimensional-syntax_microverse-scientist-shirt:   hsl(110, 31%, 46%);
@seti-vs-syntax_comment:                                hsl(112, 38%, 47%);
@oceanic-reef-syntax_attribute-name:                    hsl(118, 63%, 73%);
@one-dark-vivid-syntax_hue-4:                           hsl(118, 69%, 78%);
@seti-bloody-syntax_green:                              hsl(120, 100%, 45%);
@inter-dimensional-syntax_green-balloon:                hsl(122, 68%, 63%);
@inter-dimensional-syntax_on-light:                     hsl(126, 63%, 63%);
@inter-dimensional-syntax_green-cromulon:               hsl(129, 90%, 62%);
@firewatch-green-syntax_hue-5:                          hsl(130, 27%, 58%);
@inter-dimensional-syntax_portal-3:                     hsl(132, 49%, 35%);
@ubik-hackerman-syntax_neon-green:                      hsl(133, 100%, 36%);
@dracula-syntax_green:                                  hsl(135, 94%, 65%);

//============// (136-165) Solid Green-Cyans //============//
@dash-syntax_green:                                     hsl(136, 45%, 52%);
@inter-dimensional-syntax_light-outline:                hsl(136, 914%, 78%);
@inter-dimensional-syntax_green-planet-4:               hsl(138, 54%, 43%);
@gloom_syntax-result-marker-color:                      hsl(144, 62%, 56%);
@material-monokai-syntax_renamed:                       hsl(146, 67%, 45%);
@80s-pastel-syntax_language-enitity:                    hsl(149, 54%, 73%);
@styri-syntax_syntax-color-added:                       hsl(150, 68%, 53%);
@space-cowboy-syntax_green:                             hsl(151, 100%, 50%);
@gloom_syntax-color-added:                              hsl(153, 80%, 50%);
@inter-dimensional-syntax_fluid:                        hsl(156, 34%, 53%);
@dash-syntax_teal:                                      hsl(158, 55%, 53%);
@80s-pastel-syntax_green:                               hsl(159, 49%, 42%);
@oceanic-reef-syntax_constant-syntax-character:         hsl(160, 57%, 58%);
@improved-chester-atom-syntax_green:                    hsl(160, 80%, 44%);
@atom-gooey-syntax_green:                               hsl(160, 100%, 82%);
@gloom_syntax-type-definition:                          hsl(161, 74%, 53%);
@ubik-hackerman-syntax_green:                           hsl(165, 60%, 41%);

//============// (166-195) Solid Cyans //============//
@gloom_syntax-bracket-matcher:                          hsl(167, 99%, 71%);
@seti-vs-syntax_css-property-name:                      hsl(168, 53%, 55%);
@inter-dimensional-syntax_fart-blue-orb-light:          hsl(168, 96%, 72%);
@gloom_syntax-vcs-added-bg:                             hsl(170, 48%, 25%);
@improved-chester-atom-syntax_cyan:                     hsl(170, 87%, 46%);
  @inter-dimensional-syntax_floating-eye-eye:           hsl(170, 87%, 57%);
@japan-colors-syntax_aomidori:                          hsl(171, 100%, 33%);
@awesome-seti-syntax_cyan:                              hsl(172, 29%, 64%);
@inter-dimensional-syntax_fleeb:                        hsl(172, 61%, 64%);
@styri-syntax_styri-green-2:                            hsl(172, 91%, 47%);
@inter-dimensional-syntax_light:                        hsl(172, 96%, 43%);
@inter-dimensional-syntax_sliperystair-saddle:          hsl(173, 54%, 57%);
@gloom_syntax-cursor-color:                             hsl(173, 78%, 76%);
@awesome-seti-syntax_very-light-blue:                   hsl(174, 72%, 56%);
@atom-material-syntax_teal:                             hsl(174, 100%, 29%);
@material-monokai-syntax_cyan:                          hsl(175, 59%, 40%);
@inter-dimensional-syntax_microverse-scientist-stripe:  hsl(176, 67%, 47%);
@ubik-hackerman-syntax_base6:                           hsl(177, 38%, 71%);
@inter-dimensional-syntax_rick-shirt:                   hsl(178, 46%, 75%);
@seti-bloody-syntax_blue:                               hsl(180, 100%, 50%);
@japan-colors-syntax_byakugun:                          hsl(182, 39%, 62%);
@space-cowboy-syntax_cyan:                              hsl(182, 95%, 33%);
@awesome-seti-syntax_blue-green:                        hsl(184, 93%, 34%);
@inter-dimensional-syntax_crystal-rocks:                hsl(185, 48%, 65%);
@wombat-dark-syntax_cyan:                               hsl(187, 47%, 55%);
@inter-dimensional-syntax_typeface-body:                hsl(187, 100%, 39%);
@inter-dimensional-syntax_meseeks-skin-1:               hsl(187, 100%, 74%);
@styri-syntax_styri-cyan-2:                             hsl(189, 98%, 47%);
@monokai_blue:                                          hsl(190, 81%, 67%);
@inter-dimensional-syntax_ray-gun-burn:                 hsl(191, 73%, 64%);
@one-dark-vivid-syntax_hue-1:                           hsl(191, 91%, 73%);
@dracula-syntax_cyan:                                   hsl(191, 97%, 77%);
@dash-syntax_cyan:                                      hsl(192, 76%, 58%);
@atom-material-syntax_cyan:                             hsl(192, 82%, 75%);
@seti-vs-syntax_indent-guide:                           hsl(193, 63%, 23%);
@ubik-hackerman-syntax_cyan:                            hsl(194, 51%, 41%);
@seti-vs-syntax_string-number:                          hsl(194, 61%, 43%);
@ubik-hackerman-syntax_neon-light-blue:                 hsl(194, 100%, 50%);
@awesome-seti-syntax_blue:                              hsl(195, 79%, 38%);
@awesome-seti-syntax_light-blue:                        hsl(195, 97%, 69%);
@grey-goo-syntax_cyan:                                  hsl(195, 100%, 50%);
@grey-goo-syntax_mono-3:                                hsl(195, 100%, 75%);

//============// (196-225) Solid Cyan-Blues //============//
@oceanic-reef-syntax_variable-syntax-parameter:         hsl(196, 53%, 65%);
@an-old-hope-syntax_artoo:                              hsl(196, 64%, 58%);
@oceanic-reef-syntax_constant-syntax-numeric:           hsl(196, 80%, 75%);
@80s-pastel-syntax_blue:                                hsl(197, 65%, 60%);
@inter-dimensional-syntax_meseeks-skin-2:               hsl(197, 94%, 68%);
@inter-dimensional-syntax_meseeks-liver-spot:           hsl(198, 48%, 61%);
@wombat-dark-syntax_px-link:                            hsl(198, 65%, 57%);
@atom-gooey-syntax_cyan:                                hsl(198, 100%, 80%);
@80s-pastel-syntax_language-comments:                   hsl(199, 100%, 84%);
@inter-dimensional-syntax_blue-balloon:                 hsl(201, 88%, 65%);
@styri-syntax_styri-blue-1:                             hsl(202, 98%, 49%);
@inter-dimensional-syntax_rick-hair:                    hsl(203, 59%, 81%);
@material-monokai-syntax_blue:                          hsl(205, 69%, 49%);
@wombat-dark-syntax_px-blue:                            hsl(205, 80%, 75%);
@improved-chester-atom-syntax_softblue:                 hsl(206, 64%, 72%);
@improved-chester-atom-syntax_blue:                     hsl(206, 69%, 50%);
@styri-syntax_styri-blue-2:                             hsl(206, 89%, 52%);
@seti-vs-syntax_tags:                                   hsl(207, 61%, 59%);
@wombat-dark-syntax_blue:                               hsl(207, 82%, 66%);
@material-monokai-syntax_blue:                          hsl(208, 32%, 63%);
@seti-bloody-syntax_blue-highlight:                     hsl(208, 67%, 34%);
@grey-goo-syntax_blue:                                  hsl(208, 100%, 50%);
@grey-goo-syntax_inline:                                hsl(208, 100%, 75%);
@oceanic-reef-syntax_syntax-color-renamed:              hsl(209, 98%, 79%);
@seti-vs-syntax_selection-color:                        hsl(210, 52%, 31%);
@inter-dimensional-syntax_grumbo:                       hsl(210, 73%, 67%);
@inter-dimensional-syntax_fart-blue-orb:                hsl(210, 89%, 57%);
@80s-pastel-syntax_purple:                              hsl(211, 53%, 66%);
@material-monokai-syntax_added:                         hsl(211, 63%, 58%);
@one-dark-vivid-syntax_hue-2:                           hsl(212, 99%, 75%);
@ubik-hackerman-syntax_blue:                            hsl(214, 54%, 47%);
@inter-dimensional-syntax_blamf-gloves:                 hsl(215, 20%, 49%);
@atom-gooey-syntax_blue:                                hsl(218, 86%, 78%);
@inter-dimensional-syntax_blue-cromulon:                hsl(218, 94%, 69%);
@wombat-dark-syntax_syntax-accent:                      hsl(220, 100%, 66%);
@gloom_syntax-type-keyword:                             hsl(221, 100%, 74%);
@atom-material-syntax_blue:                             hsl(221, 100%, 75%);
@gloom_syntax-type-structure:                           hsl(222, 63%, 63%);
@dracula-syntax_blue:                                   hsl(225, 27%, 51%);
@dash-syntax_indigo:                                    hsl(225, 46%, 58%);
@dash-syntax_blue:                                      hsl(225, 100%, 68%);


//============// (226-255) Solid Blues //============//
@atom-material-syntax_indigo:                           hsl(230, 44%, 64%);
@grey-goo-syntax_mono-3-unused2:                        hsl(230, 50%, 60%);
@grey-goo-syntax_syntax-accent:                         hsl(230, 100%, 66%);
@one-dark-vivid-syntax_syntax-accent:                   hsl(230, 100%, 76% );
@space-cowboy-syntax_blue:                              hsl(234, 60%, 59%);
@gloom_syntax-selection-color:                          hsl(237, 27%, 43%);
@material-monokai-syntax_violet:                        hsl(237, 43%, 60%);
@inter-dimensional-syntax_jesica-shirt:                 hsl(238, 93%, 89%);
@gloom_syntax-type-comment:                             hsl(240, 33%, 57%);
@inter-dimensional-syntax_microverse-crystal:           hsl(242, 91%, 83%);
@inter-dimensional-syntax_fart-blue-orb-dark:           hsl(246, 55%, 47%);
@inter-dimensional-syntax_fart-purple-orb-light:        hsl(248, 92%, 80%);
@grey-goo-syntax_purple:                                hsl(248, 100%, 73%);
@inter-dimensional-syntax_tube-fluid:                   hsl(249, 46%, 60%);
@inter-dimensional-syntax_planet-rings-viloet-light:    hsl(253, 22%, 58%);

//============// (256-285) Solid Blue-Magentas //============//
@inter-dimensional-syntax_fart-purple-orb:              hsl(256, 82%, 64%);
@seti-bloody-syntax_purple-highlight:                   hsl(260, 37%, 35%);
@dash-syntax_purple:                                    hsl(260, 61%, 62%);
@inter-dimensional-syntax_holding-tube:                 hsl(261, 95%, 74%);
@monokai_purple:                                        hsl(261, 100%, 75%);
@japan-colors-syntax_fujimurasaki:                      hsl(262, 39%, 58%);
@ubik-hackerman-syntax_purple:                          hsl(263, 35%, 39%);
@ubik-hackerman-syntax_violet:                          hsl(266, 100%, 50%);
@awesome-seti-syntax_purple:                            hsl(267, 91%, 65%);
@inter-dimensional-syntax_microverse-shard:             hsl(271, 59%, 48%);
@inter-dimensional-syntax_cromulon-death-ray-shadow:    hsl(271, 61%, 41%);
@space-cowboy-syntax_escape-char:                       hsl(272, 57%, 56%);
@inter-dimensional-syntax_fart-purple-orb-dark:         hsl(276, 65%, 38%);
@atom-material-syntax_purple:                           hsl(276, 68%, 75%);
@inter-dimensional-syntax_planet-rings-viloet-dark:     hsl(284, 42%, 45%);
@seti-bloody-syntax_purple:                             hsl(285, 100%, 80%);

//============// (286-315) Solid Magentas //============//
@inter-dimensional-syntax_planet-rings-purple:          hsl(286, 36%, 59%);
@inter-dimensional-syntax_scammer-assistant-skin:       hsl(286, 50%, 64%);
@wombat-dark-syntax_purple:                             hsl(286, 60%, 67%);
@one-dark-vivid-syntax_hue-3:                           hsl(286, 82%, 79%);
@grey-goo-syntax_light-purple:                          hsl(287, 84%, 74%);
@inter-dimensional-syntax_purple-balloon:               hsl(288, 58%, 51%);
@styri-syntax_syntax-color-renamed:                     hsl(290, 88%, 57%);
@inter-dimensional-syntax_rock-vein:                    hsl(293, 60%, 68%);
@inter-dimensional-syntax_fart-pink-orb:                hsl(298, 91%, 77%);
@inter-dimensional-syntax_scammer-leader-skin:          hsl(298, 91%, 78%);
@inter-dimensional-syntax_glowing-rock:                 hsl(298, 96%, 69%);
@awesome-seti-syntax_light-pink:                        hsl(300, 47%, 75%);
@oceanic-reef-syntax_constant-syntax-language:          hsl(305, 66%, 70%);
@oceanic-reef-syntax_entity-syntax-other:               hsl(305, 73%, 81%);
@inter-dimensional-syntax_summer-shirt:                 hsl(312, 89%, 71%);
@80s-pastel-syntax_variable-function:                   hsl(314, 50%, 78%);
@styri-syntax_styri-pink-1:                             hsl(315, 97%, 56%);
@styri-syntax_styri-pink-2:                             hsl(315, 97%, 62%);
@ubik-hackerman-syntax_neon-pink:                       hsl(315, 100%, 44%);

//============// (316-345) Solid Magenta-Reds //============//
@space-cowboy-syntax_purple:                            hsl(321, 69%, 47%);
@awesome-seti-syntax_pink:                              hsl(322, 97%, 42%);
@inter-dimensional-syntax_scary-terry:                  hsl(326, 61%, 45%);
@dracula-syntax_pink:                                   hsl(326, 100%, 74%);
@material-monokai-syntax_selection-background:          hsl(330, 95%, 56%);
@inter-dimensional-syntax_pink-cromulon:                hsl(331, 62%, 53%);
@material-monokai-syntax_magenta:                       hsl(331, 64%, 52%);
@inter-dimensional-syntax_fart-pink-orb-dark:           hsl(332, 86%, 66%);
@seti-bloody-syntax_pink-highlight:                     hsl(333, 50%, 26%);
@styri-syntax_syntax-color-removed:                     hsl(335, 87%, 62%);
@grey-goo-syntax_magenta:                               hsl(335, 100%, 65%);
@inter-dimensional-syntax_planet-rings-pink:            hsl(336, 61%, 60%);
@inter-dimensional-syntax_floating-eye-body:            hsl(337, 61%, 43%);
@monokai_pink:                                          hsl(338, 95%, 56%);
@gloom_syntax-type-storage:                             hsl(339, 82%, 60%);
@dash-syntax_red:                                       hsl(339, 90%, 62%);
@gloom_syntax-type-variable:                            hsl(340, 100%, 72%);
@seti-bloody-syntax_pink:                               hsl(341, 89%, 64%);
@inter-dimensional-syntax_cromulon-death-ray-ring:      hsl(342, 84%, 65%);
@japan-colors-syntax_kohbai:                            hsl(343, 66%, 65%);
@inter-dimensional-syntax_sliperystair-spot:            hsl(344, 73%, 52%);
@atom-gooey-syntax_red:                                 hsl(344, 76%, 72%);
@inter-dimensional-syntax_chumbles:                     hsl(345, 70%, 56%);
